# **1. Create a function in Python**

Write a program to create a function that takes two arguments, name and age, and print their value.

In [14]:
def display_info(name, age):
  print(f"Name: {name}")
  print(f"Age: {age}")


display_info("Zico", 21)

Name: Zico
Age: 21

# **2. Create a function with variable length of arguments**

Write a program to create function func1() to accept a variable length of arguments and print their value.

Note: Create a function in such a way that we can pass any number of arguments to this function, and the function should process them and display each argument’s value.

In [25]:
def print_names(*names):
    for name in names:
      print(name)

print_names("Alice", "Bob", "John", "Harry")

Alice
Bob
John
Harry

# **3. Return multiple values from a function**

Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [21]:
def calculation(num1, num2):
  return ((num1 + num2), (num1 - num2))



result = calculation(40, 10)
print(f"Addition: {result[0]}")
print(f"Subtraction: {result[1]}")

Addition: 50
Subtraction: 30

# **4. Create a function with a default argument**

Write a program to create a function show_employee() using the following conditions.

* It should accept the employee’s name and salary and display both.
* If the salary is missing in the function call then assign default value 9000 to salary

In [16]:
def show_employee(name, salary=9000):
  print(f"Name: {name}")
  print(f"Salary: {salary}")


show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben
Salary: 12000
Name: Jessa
Salary: 9000

# **5. Create an inner function to calculate the addition in the following way**

* Create an outer function that will accept two parameters, a and b
* Create an inner function inside an outer function that will calculate the addition of a and b
* At last, an outer function will add 5 into addition and return it

In [8]:
def outer_func(a, b):
    def inner_func(a, b):
        return a + b

    addition_result = inner_func(a, b)
    final_result = addition_result + 5
    return final_result


print(outer_func(31, 12))
print(outer_func(70, 38))

48
113

# **6. Create a recursive function**

Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

In [19]:
def num_sum(num):
  if num == 0:
    return 0

  return num + num_sum(num - 1)


result = num_sum(10)
print(result)

55

# **7. Assign a different name to function and call it through the new name**

Below is the function display_student(name, age). Assign a new name show_tudent(name, age) to it and call it using the new name.

In [13]:
def display_student(name, age):
  print(f"Name: {name}")
  print(f"Age: {age}")


def show_student(name, age):
  display_student(name, age)


display_student("Emma", 26)
show_student("Emma", 26)

Name: Emma
Age: 26
Name: Emma
Age: 26

# **8. Exercise 8: Generate a Python list of all the even numbers between 4 to 30**

In [12]:
def even_numbers(start, end):
  return [num for num in range(start, end + 1) if num % 2 == 0]


evens = even_numbers(4, 30)
print(evens)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

# **9. Find the largest item from a given list**

In [20]:
def max_item(nums):
  max_value = nums[0]

  for num in nums:
    if num > max_value:
      max_value = num

  return max_value



my_list = [4, 6, 8, 24, 12, 2]
max_element = max_item(my_list)

print(f"Max Item: {max_element}")

Max Item: 24